<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'index' %}">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'register' %}">Register <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
        </ul>
           {% if user.is_authenticated %}
          <span class="my-2 my-lg-0">
              <a href="#createModal" data-toggle="modal" data-target="#createModal" class="btn btn-outline-success my-2 my-sm-0">Добавить Client</a>
          </span>
          {% endif %}
      </div>
        <a href="#sendModal" data-toggle="modal" data-target="#sendModal" class="btn btn-outline-success my-2 my-sm-0">Send email</a>
    </nav>


   <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="CreateModel" aria-hidden="true">
        <form action="{% url 'event_detail' event.id%}" method="POST" role="form">
            {% csrf_token %}
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create Event</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{form_client.name}}
                        <hr>
                        {{form_client.last_name}}
                        <hr>
                        {{form_client.birth_date}}
                        <hr>
                        {{form_client.phone_number}}
                        <hr>
                        {{form_client.email}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="sendModal" tabindex="-1" role="dialog" aria-labelledby="sendModel" aria-hidden="true">
        <form action="{% url 'send_message_form' event.id %}" method="POST" role="form">
            {% csrf_token %}
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLab">Send Mail</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{form_send.subject}}
                        <hr>
                        {{form_send.message}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </div>
            </div>
        </form>
    </div>



    <table class="table">
      <thead class="thead-dark">
        <tr>
            <th scope="col">Delete</th>
            <th scope="col">Name</th>
            <th scope="col">Last name</th>
            <th scope="col">Birth date</th>
            <th scope="col">Phone number</th>
            <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
      {% for client in clients %}
        <tr>
            <td><a href="{% url 'delete_client' client.id %}"><i class="fas fa-minus-square"></i></a></td>
            <td><a href="">{{client.name}}</a></td>
            <td>{{client.last_name}}</td>
            <td>{{client.birth_date}}</td>
            <td>{{client.phone_number}}</td>
            <td>{{client.email}}</td>
        </tr>
      {% endfor %}

      <script src="https://kit.fontawesome.com/ef305ee94d.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>